conda.enabled = true

profiles {
    standard {
        process {
            executor = 'slurm'

            withName: 'lima'
            {
                cpus = 30
                memory = 150.GB
            }

            withName: 'isoSeq'
            {
                cpus = 30
                memory = 250.GB
            }

            withName: 'pbmm2'
            {
                cpus = 30
                memory = 300.GB
            }

            withName: 'pigeon'
            {
                cpus = 20
                memory = 150.GB
            }

        }
    }

    local_bigmem {
        process {
            executor = 'local'

            withName: 'lima'
            {
                cpus = 30
                memory = 250.GB
            }

            withName: 'isoSeq'
            {
                cpus = 30
                memory = 350.GB
            }

            withName: 'pbmm2'
            {
                cpus = 30
                memory = 350.GB
            }

            withName: 'pigeon'
            {
                cpus = 20
                memory = 250.GB
            }

        }
    }
}

params.samplesheet = ''
params.single_cell = ''
params.cells_to_filter = '90'
